#username-good {
  color: #52c41a;
}

#username-bad {
  color: #f5222d;
}

#user-info {
  display: flex;
}

#user-info h3 {
  color: #ffffff;
  font-weight: 300;
}

#user-info a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}