#username-good {
  color: #52c41a;
}

#username-bad {
  color: #f5222d;
}

#user-info {
  display: flex;
}

#user-info h3 {
  color: #ffffff;
  font-weight: 300;
}

#user-info a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

#google-logo {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

#login-button {
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow:0 2px 5px rgba(0,0,0,.5);
  font-weight: 600;
  font-size: 1em;
}

#username-input {
  margin-right: 10px;
}

#pick-username {
  color: #fff;
  margin: 0 0px 8px 0;
  text-align: right;
  padding-right: 8px;
}

#check {
  margin-right: 10px;
  display: flex;
}

#check > p {
  margin: 0px;
}

#input {
  display: flex;
  flex-direction: row;
}
