body {
  font-family: sans-serif;
  background-color: rgb(250, 250, 250);
  margin: 0px;
}

#container {
  background-color: rgb(250, 250, 250);
}

.game-title {
  font-family: 'Crimson Text', serif;
  border-bottom: 1px solid #fff;
  font-size: 250%;
  font-weight: normal;
  margin-bottom: 0;
  color: #fff;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 20px;
  line-height: 45px;
}

.gameTimer-container h1 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 160%;
  border-bottom: 0px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
}

.gameTimer-container {
  max-height: 58.46px;
}

.game-header {
  height: 62px;
}

.global-game-info {
  text-align: right;
  min-width: 60vw;
  max-width: 60vw;
}

.global-game-info p {
  margin-top: 0;
}

#user-home h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

#user-home {
  flex-direction: column;
}

.pregame-container {
  padding: 30px;
  text-align: center;
}

.pregame-container-time-remaining h2 {
  font-weight: 400;
}

.pregame-container-join-button:disabled {
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(122, 124, 129);
  color: #fff;
}

.pregame-container-join-button:enabled {
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
  background-color: #36c;
  color: #fff;
}

.nogame-container {
  text-align: center;
  padding: 20px 0;
}

.ingame-container {
  padding: 8px;
}

#start-game-button {
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
  background-color: #36c;
  color: #fff;
}

#game-finished-container {
  text-align: center;
  padding: 30px;
  border: 2px solid #36c;
  border-radius: 5px;
  min-width: 30vw;
}
