.container {
  padding: 50px;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.custom-tooltip {
  border-radius: 5px;
  padding: 10px;
  color: rgb(49, 48, 48);
  background-color: rgba(196, 225, 250, 0.74)
}

.custom-tooltip li {
  list-style: none;
  font-family: sans-serif;
}